@font-face {
    font-family: "suitepicon";
    src: url("./suitepicon.eot?53cbf04eee192dd27b89761bd076c8b2?#iefix") format("embedded-opentype"),
url("./suitepicon.woff?53cbf04eee192dd27b89761bd076c8b2") format("woff"),
url("./suitepicon.ttf?53cbf04eee192dd27b89761bd076c8b2") format("truetype"),
url("./suitepicon.svg?53cbf04eee192dd27b89761bd076c8b2#suitepicon") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: suitepicon !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icons-module-documents:before {
    content: "\f101";
}
