@font-face {
    font-family: "suitepicon";
    src: url("./suitepicon.eot?155dc7217a139a7dd2baf7777b7a09b2?#iefix") format("embedded-opentype"),
url("./suitepicon.woff?155dc7217a139a7dd2baf7777b7a09b2") format("woff"),
url("./suitepicon.ttf?155dc7217a139a7dd2baf7777b7a09b2") format("truetype"),
url("./suitepicon.svg?155dc7217a139a7dd2baf7777b7a09b2#suitepicon") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: suitepicon !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icons-module-aos_contracts-signature:before {
    content: "\f101";
}
.icons-module-aos_contracts:before {
    content: "\f102";
}
.icons-module-calendar:before {
    content: "\f103";
}
.icons-module-default:before {
    content: "\f104";
}
.icons-module-documents:before {
    content: "\f105";
}
