@font-face {
    font-family: "suitepicon";
    src: url("./suitepicon.eot?2d28352e45fa03be609fd45cde7b6d29?#iefix") format("embedded-opentype"),
url("./suitepicon.woff?2d28352e45fa03be609fd45cde7b6d29") format("woff"),
url("./suitepicon.ttf?2d28352e45fa03be609fd45cde7b6d29") format("truetype"),
url("./suitepicon.svg?2d28352e45fa03be609fd45cde7b6d29#suitepicon") format("svg");
}

.suitepicon {
    line-height: 1;
}

.suitepicon:before {
    font-family: suitepicon !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.suitepicon-module-aos_contracts-signature:before {
    content: "\f101";
}
.suitepicon-module-aos_contracts:before {
    content: "\f102";
}
.suitepicon-module-calendar:before {
    content: "\f103";
}
.suitepicon-module-documents:before {
    content: "\f104";
}
